<div class="user-form-area">
  <div class="container-fluid p-0">
    <div class="align-items-center">
      <div class="login">
        <div class="user-content">
          <div class="top"><h2>Login</h2>
            <form  (ngSubmit)="onSubmit()" #userForm="ngForm" [formGroup]="loginForm">
              <div class="form-group"><input type="text" placeholder="E-mail"
                                             class="form-control"
                                             id="mail" [(ngModel)]="user.mail"
                                             name="mail" required formControlName="mail">
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.mail">
                  <div class="error-messages">
                    <div class="error-message" *ngIf="displayNameError">
                      Email didn't exist
                    </div>

                  </div>
                  <div class="error-message"
                       *ngIf="loginForm.get('mail').hasError(error.type) && (loginForm.get('mail').dirty ||
                        loginForm.get('mail').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              <div class="form-group"><input type="password" placeholder="Password"
                                             class="form-control"
                                             id="motDePasse"
                                             name="motDePasse"
                                             [(ngModel)]="user.motDePasse"
                                             required formControlName="motDePasse" >
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.motDePasse">
                  <div class="error-messages">
                    <div class="error-message" *ngIf="displayPwdError">
                      Password incorrect
                    </div>

                  </div>
                  <div class="error-message"
                       *ngIf="loginForm.get('motDePasse').hasError(error.type) && (loginForm.get('motDePasse').dirty
                        || loginForm.get('motDePasse').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
              <a routerLink="/register" >Register</a>
              <button class="btn" type="submit" >Login Here</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
